.responsive-Header{
    background-color: #fff;
    flex-direction: column;
    padding: 10px 15px;
    display: none;

    .responsive-Header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .responsive-Header-left{
            display: flex;
            align-items: center;
            > div{
                &:first-child{
                    margin-right: 20px;
                }
            }
            
            img{
                padding: 5px;
                cursor: pointer;
            }

            span{
                font-size: 18px;
                font-weight: 600;
            }

            .burger-menu{
                cursor: pointer;
                
                div{
                    width: 25px;
                    height: 4px;
                    margin-bottom: 3px;
                    border-radius: 6px;
                    background-color: black;
                }
            }

            .responsive-brand{
                width: 50%;
                img{
                    width: 100%;
                }
            }
        }

        .responsive-Header-right{
            display: flex;
            justify-content: space-between;

            > div{
                &:first-child{
                    margin-right: 10px;
                }
            }

            img{
                padding: 5px;
                cursor: pointer;
            }
        }
    }
    .responsive-Header-search{
        position: relative;
        img{
            position: absolute; left: 10px; bottom: 10px;
        }
        input{
            width: 100%;
            padding: 10px;
            padding-left: 35px;
            background-color: #F7FAFC;
            border-radius: 6px;
            border: var(--border);
            outline: none;
        }
    }
}


@media(max-width: 1000px){
    .responsive-Header{
        display: flex;
    }
}

@media(max-width: 320px){
    .responsive-Header{
        .responsive-Header-container{
            .responsive-Header-left{
                > div{
                    &:first-child{
                        margin-right: 5px;
                    }
                }
                span{
                    font-size: 14px
                }
            }
        }
    }
}