
.offers-section{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .offers-container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        border: var(--border);
        border-radius: 1rem;
        background-color: #fff;

        .deals-time{
            width: 30%;
            padding: 5px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 1rem 0 0 1rem;
            }
        }
    }
}  
.deals-items-container{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li{
            width: 30%;
            list-style-type: none;
            border-left: 1px solid #DEE2E3;
            padding: 10px 5px;

            .deals-item{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .deals-image{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    cursor: pointer;
                    img{
                        width: 50%;
                        height: 150px;
                        margin-bottom: 1rem;
                    }
                }

                .deals-item-name{
                    width: 90%;
                    padding: 5px;
                    span{
                        font-size: 0.8rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }

                .deals-percentage span{
                    margin-top: 0.6rem;
                    padding: 8px 20px;
                    color: red;
                    background-color: #f7e0e0;
                    border-radius: 30px;
                    display: inline-block;
                }
            }
        }
    }
}

@media(max-width:1200px){
    .deals-items-container{
        ul{
            li{
                width: 40%;
            }
        }
    }
}

@media(max-width:1000px){
    
    
    .offers-section{
        .offers-container{
            width: 100%;
            border-radius: 0;
            flex-direction: column;
            border: none;

            .deals-time{
                width: 100%;
            }
        }
    }
    .deals-items-container{
        border: var(--border);
        ul{
            li{
                width: 40%;
            }
        }
    }
}

@media(max-width:650px){
    .deals-items-container{
        ul{
            li{
                width: 50%;
            }
        }
    }
}

@media(max-width:500px){
    .deals-items-container{
        ul{
            li{
                width: 70%;
            }
        }
    }
}